<div>
    <caption><h1>Đăng nhập</h1></caption>
    <input type="text" name="username" id="ip_username" placeholder="nhập username">
    <br>
    <input type="text" name="password" id="ip_password" placeholder="nhập password">
    <button id="btn_login">Đăng nhập</button>
</div>
<div>
    <caption><h1>Đăng ký</h1></caption>
    <input type="text" name="username" id="ip_username2" placeholder="nhập username">
    <br>
    <input type="text" name="password" id="ip_password2" placeholder="nhập password">
    <br>
    <input type="text" name="password" id="ip_password22" placeholder="nhập lại password">
    <br>
    <input type="text" name="full_name" id="ip_full_name" placeholder="nhập họ tên">
    <br>
    <button id="btn_register">Đăng ký</button>
</div>

<script>
    //đăng nhập
    const btn_login = document.getElementById('btn_login')
    const ip_username = document.getElementById("ip_username")
    const ip_password = document.getElementById("ip_password")

    btn_login.addEventListener('click', ()=>{
        const username = ip_username.value 
        const password = ip_password.value 
        
        const obj = {
            username,
            password
        }  

        fetch('/api/accounts/login', {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(obj)
        })
        .then(res => res.json())
        .then(result => {
            if (result.statusCode){
                alert(result.message)
            }else {
                localStorage.setItem('username', result.username)
                window.location = '/chat'
            }
        })
        .catch(error=> {
            alert("Error: "+ error.message)
            console.log(error);
        })
    })

</script>

<script>
    //đăng ký
    const btn_register = document.getElementById('btn_register')
    const ip_username2 = document.getElementById("ip_username2")
    const ip_password2 = document.getElementById("ip_password2")
    const ip_password22 = document.getElementById("ip_password22")
    const ip_full_name = document.getElementById("ip_full_name")

    btn_register.addEventListener("click", ()=>{
        const username = ip_username2.value 
        const password = ip_password2.value 
        const password2 = ip_password22.value 
        const full_name = ip_full_name.value

        if (password !== password2){
            alert("Mật khẩu không trùng khớp")
            return;
        }
        
        const obj = {
            username,
            password,
            full_name
        }  

        fetch('/api/accounts/register', {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(obj)
        })
        .then(res => res.json())
        .then(result => {
            if (result.statusCode){
                alert(result.message)
            }else {
                alert("Đăng ký thành công. Hãy đăng nhập")
            }
        })
        .catch(error=> {
            alert("Error: "+ error.message)
            console.log(error);
        })
    })

</script>